/*-----------------------  
    General 
-----------------------*/
:root {
    --background-color: black;
    --foreground-color: white;

    --nav-link-color: var(--foreground-color);
    --nav-link-background: var(--background-color);
    --nav-link-focus-color: var(--background-color);
    --nav-link-focus-background: var(--foreground-color);
}  
* {
    margin-inline: 0; 
    box-sizing: border-box;

    outline: 1px dotted var(--foreground-color);
}
html {
    min-height: 100vh;
    min-width: 100vw;
}
body {
    background-color: var(--background-color);
    color: var(--foreground-color); 
}
